*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* { margin: 0; padding: 0; }

body {
  /*background: #493838;
  color: #fff;*/
}

pre {
  /*white-space: -moz-pre-wrap;*/
  overflow: auto;
  margin: 20px 0;
}

#nav ul {
  padding-left: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
}

#nav ul li {
  display: inline-block;
  align: left;
  padding-left: 0;
  margin-right: 20px;
}

a {
  color: #c0c0c0;
}

.button {
  border-radius: 0;
  background: orange;
  color: #fff;
  border: solid 1px;
  text-align: center;
  padding: 10px;
}

#address {
  padding: 40px 0;
}

table td {
  padding: 10px;
}

table, td {
  border-collapse: collapse;
  border: solid 1px gray;
}

table td:select {
  background: blue;
}

.intro {
  padding: 20px 0;
}

input {
  background: inherit;
  color: inherit;
  border-radius: 0;
  border: solid 1px gray;
  padding: 10px;
  min-width: 400px;
}
form {
  width: 800px;
  padding: 1em;
  border: 1px solid #CCC;
}

form div + div {
  margin-top: 1em;
  padding: 5px 0;
}

label {
  display: inline-block;
  width: 45%;
  text-align: right;
  padding-right: 20px;
  vertical-align: top;
}

input, textarea {
  font: 1em sans-serif;
  width: auto;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}
